---
layout: main
---

{% for post in site.posts %}
<article class="post" onclick="location.href='{{post.url | prepend: site.baseurl}}';" style="cursor: pointer;">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/afbeeldingen/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    {% if post.description %}
    <p>{{ post.description }}
      {% if post.title == "Raadplegingen" %}
      <div style="margin-top:-5px;">
      {% include maakeenafspraak.html %}
      </div>
      {% endif %}
    </p>
    {% else %}
    <p>{{ post.content | strip_html | truncatewords: 30 }}</p>
    {% endif %} 

    

    <!-- <span class="post-date">{{post.date | date: '%Y, %b %d'}}</span> -->
    <div style="text-align:left;" class="post-date"><a href="{{post.url | prepend: site.baseurl}}">Lees meer ...</a></div>
  </div>
</article>
{% endfor %}
