---
layout: default
---

<aside class="sidebar" style="padding-top: 0px;">
  <header>
    <div class="about">

      <h2><a href="{{site.baseurl}}/" style="text-decoration: none; color:#000;">{{ site.title }}</a></h2>

      <p>
        <a class="btn btn-primary" href="tel:{{site.tel-geen-leestekens}}"> <b style="color:#fff; font-size:17px;"><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;{{site.tel}}</b></a><!--#0061ff -->
        
      </p>
      <p>
      {% include maakeenafspraak.html %}
      </p>
      <!-- <br> -->
      <p>
      <a href="https://www.google.be/maps/place/Huisartsenpraktijk+AB99:+Dr.+Goetghebuer,+Dr.+Luyten,+Dr.+Nys/@51.0546857,3.7533234,20z/data=!4m5!3m4!1s0x47c376b83845f117:0x220a924b7026603c!8m2!3d51.0547367!4d3.7536459" style="color:inherit;">
      <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; {{site.straat}} <br> {{site.plaats}}
      </a>
      </p>
     <!-- <br>  -->

      {% if site.dokter1 %}
      <div class="cover-author-image">
        <img src="{{site.baseurl}}/afbeeldingen/{% if site.dokter1.afbeelding %}{{site.dokter1.afbeelding}}{% endif %}" alt="{{site.dokter1.achternaam}}">
      </div>

      <div class="author-name"><span class="firstname">Dr. {{site.dokter1.voornaam}}</span> {{site.dokter1.achternaam}}</div>
      <!-- <br> -->
      {% endif %}

      {% if site.dokter2 %}
      <div class="cover-author-image">
        <img src="{{site.baseurl}}/afbeeldingen/{% if site.dokter2.afbeelding %}{{site.dokter2.afbeelding}}{% endif %}" alt="{{site.dokter2.achternaam}}">
      </div>

      <div class="author-name"><span class="firstname">Dr. {{site.dokter2.voornaam}}</span>  {{site.dokter2.achternaam}}</div>
      <!-- <br> -->
      {% endif %}

      {% if site.dokter3 %}
      <div class="cover-author-image">
        <img src="{{site.baseurl}}/afbeeldingen/{% if site.dokter3.afbeelding %}{{site.dokter3.afbeelding}}{% endif %}" alt="{{site.dokter3.achternaam}}">
      </div>

      <div class="author-name"><span class="firstname">Dr. {{site.dokter3.voornaam}}</span>  {{site.dokter3.achternaam}}</div>
      <!-- <br> -->
      {% endif %}
      
      {% if site.dokter4 %}
      <div class="cover-author-image">
        <img src="{{site.baseurl}}/afbeeldingen/{% if site.dokter4.afbeelding %}{{site.dokter4.afbeelding}}{% endif %}" alt="{{site.dokter4.achternaam}}">
      </div>

      <div class="author-name"><span class="firstname">{{site.dokter4.voornaam}}</span>  {{site.dokter4.achternaam}}</div>
      <!-- <br> -->
      {% endif %}

      {% if site.dokter5 %}
      <div class="cover-author-image">
        <img src="{{site.baseurl}}/afbeeldingen/{% if site.dokter5.afbeelding %}{{site.dokter5.afbeelding}}{% endif %}" alt="{{site.dokter5.achternaam}}">
      </div>

      <div class="author-name"><span class="firstname">{{site.dokter5.voornaam}}</span>  {{site.dokter5.achternaam}}</div>
      <!-- <br> -->
      {% endif %}

      {% if site.dokter6 %}
      <div class="cover-author-image">
        <img src="{{site.baseurl}}/afbeeldingen/{% if site.dokter6.afbeelding %}{{site.dokter6.afbeelding}}{% endif %}" alt="{{site.dokter6.achternaam}}">
      </div>

      <div class="author-name"><span class="firstname">{{site.dokter6.voornaam}}</span>  {{site.dokter6.achternaam}}</div>
      <!-- <br> -->
      {% endif %}

      <!-- <br><br> -->

    </div>
  </header> <!-- End Header -->

</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
