---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">

      <h2>Huisartsenpraktijk Sint-Amandsberg</h2>

      <p>
        Tel.: <b>{{site.tel-text}}</b>
      </p>
      <!-- <br> -->
      <p>
      {{site.straat}} <br> {{site.plaats}}
      </p>
     <br> 

      {% if site.dokter1 %}
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.dokter1.afbeelding %}{{site.dokter1.afbeelding}}{% endif %}" alt="{{site.dokter1.achternaam}}"></a>
      </div>

      <div class="author-name">Dr. {{site.dokter1.voornaam}} {{site.dokter1.achternaam}}</div>
      <!-- <br> -->
      {% endif %}

      {% if site.dokter2 %}
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.dokter2.afbeelding %}{{site.dokter2.afbeelding}}{% endif %}" alt="{{site.dokter2.achternaam}}"></a>
      </div>

      <div class="author-name">Dr. {{site.dokter2.voornaam}} {{site.dokter2.achternaam}}</div>
      <!-- <br> -->
      {% endif %}

      {% if site.dokter3 %}
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.dokter3.afbeelding %}{{site.dokter3.afbeelding}}{% endif %}" alt="{{site.dokter3.achternaam}}"></a>
      </div>

      <div class="author-name">Dr. {{site.dokter3.voornaam}} {{site.dokter3.achternaam}}</div>
      <!-- <br> -->
      {% endif %}

      <!-- <br><br> -->

    </div>
  </header> <!-- End Header -->

</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
