---
layout: default
---

<aside class="sidebar" style="padding-top: 0px;">
  <header>
    <div class="about">

      <h2><a href="{{site.baseurl}}/" style="text-decoration: none; color:#000;">{{ site.title }}</a></h2>

      <p>
        <a class="btn btn-primary" href="tel:{{site.tel-geen-leestekens}}"> <b style="color:#fff; font-size:17px;"><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;{{site.tel}}</b></a><!--#0061ff -->
        
      </p>
      <p>
      {% include maakeenafspraak.html %}
      </p>
      <!-- <br> -->
      <p>
      <a href="https://www.google.be/maps/place/Adolf+Baeyensstraat+99,+9040+Gent/@51.0548008,3.7512373,17z/data=!3m1!4b1!4m5!3m4!1s0x47c376b9b2cebc3d:0x92fa7d29b8571e1f!8m2!3d51.0548008!4d3.753426" style="color:inherit;">
      <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; {{site.straat}} <br> {{site.plaats}}
      </a>
      </p>
     <!-- <br>  -->

      {% if site.dokter1 %}
      <div class="cover-author-image">
        <img src="{{site.baseurl}}/afbeeldingen/{% if site.dokter1.afbeelding %}{{site.dokter1.afbeelding}}{% endif %}" alt="{{site.dokter1.achternaam}}">
      </div>

      <div class="author-name"><span class="firstname">Dr. {{site.dokter1.voornaam}}</span> {{site.dokter1.achternaam}}</div>
      <!-- <br> -->
      {% endif %}

      {% if site.dokter2 %}
      <div class="cover-author-image">
        <img src="{{site.baseurl}}/afbeeldingen/{% if site.dokter2.afbeelding %}{{site.dokter2.afbeelding}}{% endif %}" alt="{{site.dokter2.achternaam}}">
      </div>

      <div class="author-name"><span class="firstname">Dr. {{site.dokter2.voornaam}}</span>  {{site.dokter2.achternaam}}</div>
      <!-- <br> -->
      {% endif %}

      {% if site.dokter3 %}
      <div class="cover-author-image">
        <img src="{{site.baseurl}}/afbeeldingen/{% if site.dokter3.afbeelding %}{{site.dokter3.afbeelding}}{% endif %}" alt="{{site.dokter3.achternaam}}">
      </div>

      <div class="author-name"><span class="firstname">Dr. {{site.dokter3.voornaam}}</span>  {{site.dokter3.achternaam}}</div>
      <!-- <br> -->
      {% endif %}

      <!-- <br><br> -->

    </div>
  </header> <!-- End Header -->

</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
